

.card {
    display: grid;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
    grid-template-areas:
    "imgcard legend"
    "imgcard legend"
    "imgcard eval"
    ;

    background-color: white;
    border: 4px solid white;
    border-radius: 25px;

    
}



.imgcard {
    max-width: 100%;
    object-fit: cover;
    
    grid-area: imgcard;
    height: 100%;
    width: 100%;
    border-radius: 25px 0 0 25px ;
    
}

.card h3 {
    padding: 10px 10px 10px 0;
    font-size: 16px;
}

.legend {
    grid-area: legend;
    
}

.legend p {
    font-size: 14px;
}

.eval {
    display: flex;
    grid-area: eval;
    align-items: flex-end;
    padding-bottom: 10px;

    font-size: 12px;
}