

header {
    display: grid;
    height: 20%;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(2, 1fr) ; 
    grid-template-areas: 
    "logo signup"
    "nav nav"
    ;
  }

.logo {
    grid-area: logo;
}

.menu {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.signup {
    display: flex;
    justify-content: flex-end;
    grid-area: signup;
    text-decoration: none;
    padding: 20px 15px 0 0 ;
    font-weight: bold;
}


.imglogo {
    height: 55px ;
    padding: 10px 0 0 10px;
    
}

@media only screen and (min-width: 1000px)
{
    header { 
        display: grid;
        height: 115px;
        align-items: center;
        grid-template-columns: auto 22% 11%;
        grid-template-rows: repeat(1, 1fr) ; 
        grid-template-areas: 
        "logo nav signup"
        ;
    }

    .signup {
        padding: 0;
        padding-right: 20px;

    }

    .imglogo {
        padding: 0 0 0 20px ;
    }
}