

@media screen and (max-width: 600px){

  nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        margin: auto;
    }

    .debut-nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .contener-nav-logo {
        
        flex-wrap: wrap;
    }

    #conteneur {
        margin-top: 0;
        width: 87%;
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 0;
    }

    .child {
        justify-content: space-between;
        color: red;
    }

    .element {
        line-height: 50px;
    }

    #logo {
        display: inline-block;
    }

    .header-section2 {
        margin-top: 50px;
        width: 100%;

    }


  
  
}