body {
    font-family: 'Raleway', sans-serif;
    margin:  15px;
}

/* Mise en forme générale */


.bleufonce {
        color:#0065FC;
}

.gras {
    font-weight: bold;
}

a {
    text-decoration: none;
}

iframe{
    position:absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-style:none;
    top: 20px;
    
    
}
/* Menu de navigation dans header */


nav {
    width: 100%;
    position:absolute;
    
}

nav a {
    color: black;
}

nav ul {
    display: flex;
    list-style: none;
    float: right;
}

nav ul li {
    margin-right: 85px;
    
}

#hbrgt::before {
    content: "";
    position: absolute;
    top : 0;
    background-color: #0065FC;
    width : 111px;
    height: 3px;
    
}

/* mise en forme footer */

footer {
background-color : #F2F2F2 ;
display: flex;
padding-top: 30px;
padding-bottom: 30px;
}

footer h1 {
    font-size: 16px;
    padding-left: 40px;
}

#apropos, #noshergements, #assistance {
    margin-right: 100px;
}

#apropos ul, #noshergements ul, #assistance ul{
    list-style-type: none;
    line-height: 30px ;

}

footer a {
    color:black;
}

 