body {
    font-family: 'Raleway', sans-serif;
    margin:  0  0  0 30px;
}

/* Mise en forme du header */

#logo img {
    height: 50px;
}

#titreheader {
    font-size : 18px;
    font-weight: bold ;
}

/* zone de recherche dans header */

.recherche i {
    background-color: #F2F2F2 ;
    padding: 10px 15px 10px 15px;
    border-radius:  15px 0 0 15px ;
}

.recherche {
    display: flex;
    margin: 20px 20px 20px 0px;
}

.recherche input {
    display: flex;
    padding: 10px 15px 10px 15px;
}

#rechercher {
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
}

/* Mise en forme des filtres dans header */

.filtres i {
    display: flex;
    align-items: center;
    padding: 11px;
    font-size: 10px ;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50% ;
}

.boutons_filtres {
    border: #F2F2F2 1px solid;
    border-radius: 20px;
}
 
.boutons_filtres h1 {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 15px 0 10px;    
}

.filtres {
    display: flex;
    margin-bottom: 20px;
}

.filtres h1 {
    font-size: 14px;
    font-weight: none;
}

.boutons_filtres {
    display: flex;
    margin : 0 15px 0 15px;
}

/* point d'information */

#info {
    margin-bottom: 20px;

}

#info i {
    color: #0065FC;
    font-size: 8px;
    padding: 5px 8px 5px 8px;
    border: #F2F2F2 1px solid;
    border-radius: 45px;

}

#info span {
    font-size: 12px;
}

/* Menu de navigation dans header */

nav {
    width: 600px;
    position: absolute;
    right: 30px;
    top: 30px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 85px;
    color: #0065FC;
}


/* mise en forme footer */

footer {
background-color : #F2F2F2 ;
display: flex;
padding-top: 30px;
padding-bottom: 30px;
}

footer h1 {
    font-size: 16px;
    padding-left: 40px;
}

#apropos, #noshergements, #assistance {
    margin-right: 100px;
}

#apropos ul, #noshergements ul, #assistance ul{
    list-style-type: none;
    line-height:30px ;

}

a {
        text-decoration:none; 
        color: black;
}
