body {
    font-family: 'Raleway', sans-serif;
    margin:  0;
    
}

/* Mise en forme générale */


.bleufonce {
        color:#0065FC;
}

.gras {
    font-weight: bold;
}

a {
    text-decoration: none;
}


#logo img {
    height: 50px;
    padding-left: 30px;
}

/* Menu de navigation dans header */

.contener-nav-logo{
    display: flex;
}


.debut-nav {
    display: flex;
}


 nav{
     display: flex;
    justify-content: flex-end;
    width: 100%;
    position:absolute;
    border: 3px solid grey;
    
}

#conteneur{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border: 3px solid hotpink;
    padding-right: 30px;

}

.element {
    margin-right: 40px;
    line-height: 70px;
}

.element:hover {
    border-top: 3px solid #0065FC;

}


/* mise en forme footer */

footer {
background-color : #F2F2F2 ;
display: flex;
padding-top: 30px;
padding-bottom: 30px;
}

footer h1 {
    font-size: 16px;
    padding-left: 40px;
}

#apropos, #noshergements, #assistance {
    margin-right: 100px;
}

#apropos ul, #noshergements ul, #assistance ul{
    list-style-type: none;
    line-height: 30px ;

}

footer a {
    color:black;
}

 